body, html {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ffede477;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* 헤더 CSS */
header {
    width: 100%;
    padding: 6px 0;
    background-color: #ffe9df;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-wrap: wrap;
}

#logo {
    max-width: 100px;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #ffa08f;
    color: #fff;
}

.header-buttons {
    display: flex;
    margin-right: 30px;
    gap: 20px;
    justify-content: flex-end;
}

.header-buttons button {
    font-size: 14px; 
    font-family: 'Noto Sans KR', sans-serif;
    color: white; 
    background-color: #ff6f61;
    border: none;
    border-radius: 8px; 
    padding: 6px 12px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.header-buttons button:hover {
    background-color: #ff5a4a; 
    transform: translateY(-2px); 
}

.header-buttons button i {
    margin-right: 8px;
    font-size: 18px;
}

/*메인 시작*/

.hero{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.speech-bubble {
    position:relative;
    width:100%;
    padding:20px;
    /*background-color:#fee1e1;*/
    background-color: white;
    border-radius:8px;
    color:#333;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

#burger{
    margin-top: 40px;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}