/* 기본 설정 */
body, html {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ffede4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* 헤더 css 시작 */
header {
    width: 100%;
    padding: 6px 0;
    background-color: #ffe9df;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-wrap: wrap;
}

#logo {
    max-width: 100px;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #ffa08f;
    color: #fff;
}

.header-buttons {
    display: flex;
    margin-right: 30px;
    gap: 20px;
    justify-content: flex-end;
}

.header-buttons button {
    font-size: 14px; 
    font-family: 'Noto Sans KR', sans-serif;
    color: white; 
    background-color: #ff6f61;
    border: none;
    border-radius: 8px; 
    padding: 6px 12px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.header-buttons button:hover {
    background-color: #ff5a4a; 
    transform: translateY(-2px); 
}

.header-buttons button i {
    margin-right: 8px;
    font-size: 18px;
}

/* 나머지 CSS */
.main-container {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    flex: 1;
    overflow: auto;
}

.today, .weekly {
    background-color: #fff;
    padding: 0 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    margin: 0 auto;
    flex: 1;
    min-height: 0;
    overflow: auto;
}

.today-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.today-date-picker {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.card-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 5px;
    color: #555;
    margin-top: 0;
    text-align: center;
    flex: 1;
}

.add-icon {
    position: absolute;
    right: 10px;
    font-size: 2em;
    color: #ff6347;
    cursor: pointer;
}

.add-icon:hover {
    color: #ff6347;
}

.meals-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-top: 20px;
}

.meal-card {
    background-color: #ffe5d9;
    padding: 10px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
}

.input-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.input-row label {
    font-weight: bold;
    color: #666;
    width: 25%;
    text-align: center;
}

.input-row input {
    width: calc(90% - 100px); /* Adjust to fit the button */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #fff;
}

.search-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.search-button:hover {
    background-color: #ff4500;
}

.save-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
    float: right;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: flex-end;*/
    gap: 8px;
    width: 100px;
    font-family: 'Noto Sans KR', sans-serif;
}

.save-button:hover {
    background-color: #ff4500;
}

.result, .evaluation, .weekly-evaluation {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    display: flex;
    align-items: flex-start;
}

#evaluation{
    margin-top: 70px;
}

.burger-character, .healthy-character {
    width: 100px;
    height: auto;
}

.bubble {
    position: relative;
    background: #ffe5d9;
    color: #333;
    border-radius: .6em;
    padding: 30px 15px;
    margin-left: 20px;
    width: 90%;
    display: block;
    font-size: 1em;
}

.bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-right-color: #ffe5d9;
    transform: translateY(-50%);
}

.weekly-bubble {
    background: #ffe5d9;
    color: #333;
    border-radius: .6em;
    padding: 15px;
    margin-left: 20px;
    width: 90%;
    display: block;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#calorie-chart {
    margin-top: 20px;
}

/*날짜 선택*/
.today-date-picker label, .weekly-date-picker label {
    margin-right: 10px;
}

.weekly-date-picker input[type="date"] {
    margin-right: 20px;
}

input[type="date"] {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 1em;
    color: #333;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #333;
    cursor: pointer;
}

.search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 100px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    width: calc(70% - 12px); 
    z-index: 10;
}

.search-results li {
    padding: 8px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .main-container{
        flex-direction: column;
    }
}
